[user]
	email = akunaakwei@gmail.com
	name = Akuna Akwei
	signingkey = 8A2410500297545A
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitglobalignore
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
